.membersListWrapper {
  margin-top: 14px;
}

.tableDataName {
  padding-left: 0 !important;
  background: unset !important;
}

.tableDataParagraph {
  margin: 0;
  color: #666666;
}

.billableRateWrapper div input {
  height: 26px;
  font-size: 12px;
  background-color: #f2f6f8;
  max-width: 60px;
}

.billableRateWrapper button {
  height: 26px;
  font-size: 12px;
  padding: 3px 7px;
}

.teamListTableData p {
  margin: 0;
}

.teamListTableData:hover {
  cursor: alias;
}

.owner {
  background: #03a9f4;
  padding: 2px 10px;
  margin: 0;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}

.editTdClassName {
  max-width: 40px;
}
