.rowItem {
  background-color: #ffffff;
  border-left: 1px solid #C6D2D9;
  border-right: 1px solid #C6D2D9;
  border-bottom: 1px solid #C6D2D9;
  border-radius: 1px 1px 0 0;
  margin: 0;
  height: 60px;
}

.colItem {
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.colItem div {
  width: 100%;
  padding: 10px;
  height: 41px;
}

.border {
  background-image: linear-gradient(#c9d5db 33%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 3px;
  background-repeat: repeat-y;
}

.colItem div p {
  margin: 0;
  font-size: 14px;
}

.colActionButtonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0;
}

.actionButton {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 60px;
  justify-content: center;
  height: 80%;
}

.actionButton img {
  padding: 10px;
  cursor: pointer;
}

.archivedItem {
  text-decoration: line-through;
}

.actionsList {
  padding: 7px 0;
  z-index: 10;
  box-shadow: 0 5px 10px #0000001a;
  border-radius: 2px;
  position: absolute;
  top: 40px;
  background: #ffffff;
  min-width: 140px;
  right: 0;
}

.actionButton p {
  padding: 10px 20px;
  font-size: 14px;
  color: #666666;
  margin: 0;
  cursor: pointer;
}

.actionButton p:hover {
  background-color: #e4eaee
}
