.inputWrapper {
  display: flex;
  align-items: flex-end;
}

.inputWrapper div {
  display: flex;
  flex-direction: column;
}

.readOnlyInput {
  border-right: unset !important;
}

.inputWrapper button {
  /*height: 39px;*/
  background-color: #ffffff;
  /*font-size: 14px;*/
  color: #03a9f4;
  padding: 0 11px;
  border: 1px solid #ced4da;
  transition: 0.2s ease;
}

.inputWrapper button:hover {
  text-decoration: underline;
  color: #028cc9;
}

.inputWrapper button:active {
  color: #03a9f4 !important;
  border: 1px solid #ced4da !important;
}
