.itemWrapper {
  border-bottom: 1px solid #E4EAEE;
  padding-bottom: 15px;
}

.settingsItemWrapper {
  margin-top: 20px;
}

.settingsItemTitle {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

.settingsItemSubTitle {
  font-size: 14px;
  color: #999999;
  margin-top: 0;
}
