.editIcon {
  padding: 10px 15px;
}

.editItemIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 60px;
  justify-content: center;
  height: 80%;
}

.editItemIconWrapper p {
  padding: 10px 20px;
  font-size: 14px;
  color: #666666;
  margin: 0;
  cursor: pointer;
  transition: 0.2s ease;
}

.editItemIconWrapper p:hover {
  background-color: #e4eaee
}
