.defaultActionsList {
  padding: 7px 0;
  z-index: 10;
  box-shadow: 0 5px 10px #0000001a;
  border-radius: 2px;
  position: absolute;
  top: 40px;
  background: #ffffff;
  min-width: 140px;
}

.right {
  right: 0;
}

.left {
  left: 0;
}
