.section {
  margin-top: 16px;
}

.actionModalParagraph {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}

.actionModalMessage {
  color: #6c757d;
  font-size: 14px;
}

.checkbox input, label {
  cursor: pointer;
}

.checkbox input:checked {
  background-color: #03A9F4 !important;
  border-color: #03A9F4 !important;
}

.checkbox label {
  color: #333333;
  font-size: 14px;
}
