.tasksListWrapper {
  margin-top: 20px;
}

.tableDataNameInput {
  padding-left: 0 !important;
  background: unset !important;
}

.tableDataEditButton {
  width: 0 !important;
}

.tableDataChildrenWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inputWrapper div:nth-child(1) {
  width: 100% !important;
}
